<%= form_with(model: @micropost, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>

  <%= image_tag @micropost.image.attached? ? @micropost.image : '', id: 'img_prev' %>
  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </span>
  <%= f.submit "Update", class: "btn btn-primary" %>
<% end %>

<%= javascript_pack_tag 'image_size_check' %>