<% provide(:title, 'Edit micropost') %>

<h3><%= t("edit_micropost") %></h3>
<% unless @micropost.parent.nil? %>
  <div class="microposts">
    Parent micropost:<br>
    <%= render @micropost.parent, dont_show_who_reposted: true %>
  </div>
  <hr>
<% end %>

<%= form_with(model: @micropost, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("new_micropost") %>
  </div>

  <%= image_tag @micropost.image.attached? ? @micropost.image : '', id: 'img_prev' %>
  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </span>
  <%= f.submit t("Save"), class: "btn btn-primary" %>
<% end %>

<%= javascript_pack_tag 'image_size_check' %>