<% provide(:title, 'Quote micropost') %>

<div class="microposts">
  Parent micropost:<br>
  <%= render @parent, dont_show_who_reposted: true %>
</div>
<hr>

<%= form_with(model: current_user.microposts.build, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :parent_id, value: @parent.id %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Quote this micropost..." %>
  </div>
  <%= image_tag '', id: 'img_prev' %>
  <span class="image">
    <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png" %>
  </span>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

<%= javascript_pack_tag 'image_size_check' %>